.row {
  display: flex;
}

.text-align-center {
  text-align: center;
}

.flex-direction-row {
  flex-direction: row;
}

.column-third {
  flex-basis: calc(100%/3);
}

.align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.column-half {
  flex-basis: calc(100%/2);
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.display-flex {
  display: flex;
}

.margin-top {
  margin-top: 1rem;
}

.single-button {
  width: 175px;
  height: 175px;
}

.single-button-header,
.bookmark-text-holder,
.record-header {
  margin-top: 4rem;
}

.add-to-bookmarks,
.return-to-home,
.remove-from-bookmarks,
.sign-out {
  margin-top: 3rem;
}

.button-column {
  flex-basis: calc(100%/3);
  margin-top: 1rem;
}

.nav-bar-header {
  text-align: center;
}

.nav-header-column {
  padding-left: 1rem;
}

.icon-container {
  flex-basis: calc(100%/2);
  margin-right: 1rem;
  margin-left: 5rem;
}

@media screen and (min-width: 750px) {
  .nav-header-column {
    padding-left: 3rem;
  }

  .nav-bar-header {
    text-align: left;
  }

  .icon-container {
    flex-basis: calc(100%/3);
    margin-left: 15rem;
  }

  .button-column {
    margin-top: 4rem;
  }

  .sound-button-header {
    margin-top: 4rem;
  }

  .single-button {
    width: 225px;
    height: 225px;
    margin-top: 2rem;
  }

  .single-button-header,
  .record-header,
  .bookmark-text-holder,
  .sign-out {
    margin-top: 2rem;
  }

  .add-to-bookmarks,
  .return-to-home,
  .remove-from-bookmarks,
  .sign-out {
    margin-top: 5rem;
    width: 200px;
    font-size: large;
  }

  .button-container {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .icon-container {
    margin-left: 30rem;
  }

  .button-column {
    flex-basis: calc(100%/5);
  }

  .button-container {
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .single-button {
    width: 300px;
    height: 300px;
  }

  .single-button-header,
  .record-header,
  .bookmark-text-holder,
  .sign-out {
    margin-top: 5rem;
  }

  .add-to-bookmarks,
  .return-to-home,
  .remove-from-bookmarks,
  .sign-out {
    width: 250px;
  }
}
