.cyan-background {
  background-color: rgb(110 223 246);
}

.white {
  color: white;
}

.red {
  color: red;
}

.text-decoration-none {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

i {
  font-size: x-large;
}

.lucida-sans {
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

.font-gray {
  color: gray;
}

.drop-shadow {
  filter: drop-shadow(0 0 10px lightgray);
}

.w-h70px {
  width: 70px;
  height: 70px;
}

.w-h175px {
  width: 175px;
  height: 175px;
}

.w200px-h40px {
  width: 200px;
  height: 40px;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-none {
  border: none;
}

a {
  font-size: smaller;
}

.red-background {
  background-color: red;
}

.blue-background {
  background-color: blue;
}

.purple-background {
  background-color: purple;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.orange-background {
  background-color: orange;
}

.pink-background {
  background-color: pink;
}

.black-background {
  background-color: black;
}

.border-radius-5px {
  border-radius: 5px;
}

.add-to-bookmarks {
  font-size: larger;
}

.sound-button {
  width: 70px;
  height: 70px;
}

.audio-player {
  width: 200px;
}

.audio-player-column {
  margin-top: 4rem;
}

.record-input-container {
  margin-top: 3rem;
}

.record-input-label {
  font-size: large;
}

.record-input {
  margin-top: 1rem;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  font-size: large;
}

.icon-recording {
  font-size: 50px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.submit-button {
  text-decoration: none;
  font-size: x-large;
  padding: 1rem;
  border-radius: 15px;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 750px) {
  .audio-player {
    width: 300px;
  }

  .record-input {
    width: 300px;
    height: 50px;
  }

  h2 {
    font-size: xx-large;
  }

  i {
    font-size: xx-large;
    text-align: right;
  }

  a {
    font-size: large;
  }

  .sound-button {
    width: 100px;
    height: 100px;
  }

  .icon-recording {
    font-size: 80px;
  }
}

@media screen and (min-width: 1100px) {
  .audio-player {
    width: 500px;
  }

  .record-input {
    width: 500px;
  }
}
