.cyan-background {
  background-color: rgb(110 223 246);
}

.white {
  color: white;
}

.red {
  color: red;
}

.text-decoration-none {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

i {
  font-size: x-large;
}

.lucida-sans {
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

.font-gray {
  color: gray;
}

.drop-shadow {
  filter: drop-shadow(0 0 10px lightgray);
}

.w-h70px {
  width: 70px;
  height: 70px;
}

.w-h175px {
  width: 175px;
  height: 175px;
}

.w200px-h40px {
  width: 200px;
  height: 40px;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-none {
  border: none;
}

a {
  font-size: smaller;
}

.red-background {
  background-color: red;
}

.blue-background {
  background-color: blue;
}

.purple-background {
  background-color: purple;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.orange-background {
  background-color: orange;
}

.pink-background {
  background-color: pink;
}

.black-background {
  background-color: black;
}

.border-radius-5px {
  border-radius: 5px;
}

.add-to-bookmarks {
  font-size: larger;
}

.sound-button {
  width: 70px;
  height: 70px;
}

.sound-button:hover {
  background-color: rgb(110 223 246);
}

.audio-player {
  width: 200px;
}

.audio-player-column {
  margin-top: 4rem;
}

.record-input-container {
  margin-top: 3rem;
  align-items: center;
}

.record-input-label {
  font-size: large;
}

.record-input {
  margin-top: 1rem;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  font-size: large;
}

.icon-recording {
  font-size: 50px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.submit-button {
  border: none;
  font-size: x-large;
  padding: 1rem;
  border-radius: 15px;
  justify-content: center;
  display: flex;
}

.hidden {
  display: none;
}

.transparent {
  background: rgb(0 0 0 /50%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.modal-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}

.auth-header {
  margin-top: 1rem;
  text-align: center;
}

.auth-input {
  margin: 0.5rem;
  height: 40px;
  font-size: large;
  border: solid 1px;
  border-color: lightgray;
  border-radius: 5px;
}

.submit-auth-column {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 0.5rem;
}

.submit-auth {
  font-size: large;
  border: none;
  margin-right: 0.5rem;
  margin-left: auto;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error {
  color: red;
  margin-left: 0.5rem;
}

.error-input {
  outline: none;
  border: 1px solid red;
}

.error-input:focus {
  outline: none;
  border: 1px solid rgb(110 223 246);
}

.modal-anchor {
  color: rgb(110 223 246);
  text-decoration: underline;
  font-size: large;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 0.5rem;
}

.modal-anchor-submit {
  justify-content: space-between;
}

.visualizer {
  margin-top: 3rem;
  border-radius: 10px;
  width: 50rem;
  height: 10rem;
}

@media screen and (min-width: 750px) {
  .audio-player {
    width: 300px;
  }

  .record-input {
    width: 300px;
    height: 50px;
  }

  h2 {
    font-size: xx-large;
  }

  i {
    font-size: xx-large;
    text-align: right;
  }

  a {
    font-size: large;
  }

  .sound-button {
    width: 100px;
    height: 100px;
  }

  .icon-recording {
    font-size: 80px;
  }

  .modal-row {
    width: 500px;
    height: 300px;
  }
}

@media screen and (min-width: 1100px) {
  .audio-player {
    width: 500px;
  }

  .record-input {
    width: 500px;
  }
}
